.Line{
	margin-top: -20px;
}
#footer{
	padding:10px;
	border-top: 1px solid black;
	margin-bottom:50px;
	color:#eeeeee;
	background-color:#211f22;
	text-align:center;
	position: fixed;
    left: 0;
    bottom: -50;
    width: 100%;
}
.blogpost{
	background-color: #f5f5f5;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}
#heading{
	font-family:Bitter,Georgia,"Times New Roman",Times,serif;
	color:#005E90;
}
#heading:hover{
	color:0090db;
}
.discription{
	color:#868686;
	margin-top:-2px;
}
.post{
	font-size: 1.1em;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-align:justify;
}
.btn-info{
	float:right;
}
.imageicon{
	max-width: 150px;
	margin: 0 auto;
	display : block;
}
.bcolor{
	background-color:;
}









